body {
    font-weight: 700;
    background-color: #6B4803;
    color: #D97314;
    margin: 0;
    overflow-x: hidden;
}
.hero {
  text-align: center;
  padding: 1rem;
}
.martens {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    max-width: 300px;
    color: black;
    margin: auto;
    padding: 1rem;
    background: #D97314;
    text-align: center;
    transition: transform 0.8s ease, background-color 0.4s ease;
    animation: bounce 1s ease-in-out infinite;
}
.card:hover {
  transform: scale(1.1);
  color: #D97314;
  background-color: #E6E634;
}
img {
    width: 300px;
    height: 400px;
}
.button {
    font-family: inherit;
    font-weight: 700;
    background-color: #D97314;
    color: #0b0b0b;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: transform .5s ease;
}
.button:hover {
  transform: scale(1.2);
  color: #D97314;
  background-color: #E6E634;
}
.ground {
    text-align: center;
    margin-top: 2rem;
}
@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}
